<!doctype html>
<html>

<head>
  <title>Set Page Color Popup</title>
  <link rel="stylesheet" href="../plugins/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../plugins/css/home-popup.css" />
  <style>
    .container-main {
      padding-top: 12px;
      padding-bottom: 12px;
      min-width: 300px;
    }
  </style>
  <script src="../plugins/js/jquery-3.4.1.min.js"></script>
  <script src="../plugins/js/bootstrap.min.js"></script>
  <script src="../js/foreground-js/style-maker.js"></script>
</head>

<body>

  <div class="container-main container-fluid">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        
       
        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs " role="tablist">
            <li role="presentation" class="active"><a href="#autoLogin" aria-controls="autoLogin" role="tab"
                data-toggle="tab">Auto Login</a></li>
            <li role="presentation"><a href="#editEmail" aria-controls="editEmail" role="tab" data-toggle="tab">Edit
                Emails</a>
            </li>

          </ul>
          <br />
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="autoLogin">
              <form id="saveSettingForm">
                <div class="form-group">
                  <label for="">Site Name : </label>
                  <input type="text" name="newSiteUrl" class=" form-control input-sm" readonly>
                </div>
                <div class="form-group">
                  <label for="resetEmail">Login Reset URL : </label>
                  <div class="input-group input-group-sm">
                    <input class="form-control" type="url" name="resetLoginUrl" readonly />
                    <span class="input-group-btn">
                      <button class="btn btn-success goUpdate" type="button" name="submitType" value="reset_url">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      </button>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="resetEmail">Select Email address :</label>
                  <div class="autocomplete" style="width:100%;">
                    <input  class="form-control input-sm" type="email" id="resetEmail" required>
                  </div>
                  <!-- <input list="clientEmails" class="form-control input-sm" type="email" id="resetEmail" required />
                  <datalist id="clientEmails"> 
                  </datalist> -->
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary" name="submitType" value="do_reset">Reset
                      Login</button>
                  </div>
                </div>
              </form>
            </div>

            <div role="tabpanel" class="tab-pane" id="editEmail">
              <form id="saveEmailsForm">
                <div class="form-group">
                  <label for="">Site All Emails : </label>
                  <textarea type="text" name="newSiteEmails" class=" form-control" rows="7"></textarea>
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-primary" name="submitType" value="do_new_emails">Reset
                      Emails</button>
                  </div>
                </div>
              </form>

            </div>


          </div>

          <!-- <div class="box__header" style="  background-color: rgb(189, 189, 189);  padding: 5px; margin-top: 5px;">
            <x-header style="margin: 0px;">
              <div class="logo" style="text-align:center ;"><img src="../images/get_started32.png" class="logo-pic"></div>
            </x-header>
          </div> -->


        </div>
      </div>
    </div>

  </div>

</body>

</html>